.date {
  display: flex;
  justify-content: center;
  align-items: center;
}
.last_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
